{% extends "home.html" %}
{% load static %}

{% block content %}
    <div class = 'container'>
    <form action="" method=POST>
        {% csrf_token %}
            <div class='row' id = 'fila'>
                <div class = 'col-md-8'>
                    <h1>Register</h1>
                    {% for field in form %}
                        <div id = 'register'>
                        <label> {{field.label }}</label>
                            <div>{{ field }}</div>
                        </div>
                    {% endfor %}
                    <button id = 'guardar' type="submit">Guardar</button>
                    <div ><h2 id = "registrado"> </h2></div>

                </div>
            </div>
    </div>

{% endblock %}